<app-panel></app-panel>
<div class="container" style="margin-top: 4rem;">
    <div class="card">
        <div class="card-header">
            <h5>LISTA DE RECLAMOS</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col p-0">
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%; min-width: 500px;">
                            <thead>
                                <tr>
                                    <th>Asunto</th>
                                    <th>Descripción</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let re of reclamos">
                                <tr>
                                    <td>{{re.asunto}}</td>
                                    <td>{{re.descripcion}}</td>
                                    <td>{{re.fecha | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr *ngIf="re?.cliente">
                                    <td>
                                        <span class="text-muted me-2">DNI:</span> {{re.cliente.persona.dni}}
                                    </td>
                                    <td colspan="2">
                                        <span class="text-muted me-2">Nombres:</span> {{re.cliente.persona.nombre}}
                                        {{re.cliente.persona.apellidos}}
                                    </td>
                                </tr>
                                <tr *ngIf="re?.proveedor">
                                    <td>
                                        <span class="text-muted me-2">RUC:</span> {{re.proveedor.ruc}}
                                    </td>
                                    <td colspan="2">
                                        <span class="text-muted me-2">RUC:</span> {{re.proveedor.razonSocial}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger" *ngIf="errMessageReclamo">
                            {{errMessageReclamo}}
                        </div>
                        <div class="wrapper" *ngIf="!errMessageReclamo">
                            <app-paginador-reclamos [paginador]="paginator"></app-paginador-reclamos>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>