<app-modal-detalle-pago *ngIf="detallePago" [visibleModal]="isVisibleDetallePago" 
    [detallePago]="detallePago" (cerrarModal)="isVisibleDetallePago = $event">

</app-modal-detalle-pago>

<app-ver-direccion-envio *ngIf="direccionEnvio?.iddireccion" [diEnvio]="direccionEnvio" [visibleModal]="isVisibleModal"
    (cerrar)="isVisibleModal = $event">
</app-ver-direccion-envio>

<div class="container-fluid mt-2">
    <div class="card mb-2">
        <div class="card-header">
            <h5>{{titulo}}</h5>
        </div>
        <div class="card-body p-1">            
            <div class="row">
                <div class="col">
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%; min-width: 600px;">
                            <thead>
                                <tr bgcolor="skyblue">
                                    <th colspan="2">Número / Código</th>
                                    <th>Tipo</th>
                                    <th>F. Pedido</th>
                                    <th>F. Entrega</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let com of comprobantes">
                                <tr>
                                    <td colspan="2">
                                        <table>
                                            <tr>
                                                <td>
                                                    {{com.numero}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{com.idtransaccion}}
                                                </td>
                                            </tr>
                                            <tr *ngIf="com?.ruc">
                                                <td>
                                                    {{com.ruc}}
                                                </td>
                                            </tr>
                                            <tr *ngIf="com?.razonSocial">
                                                <td>
                                                    {{com.razonSocial}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>{{com.tipoComprobante}}</td>
                                    <td>{{com.fechaPedido | date : 'dd/MM/yyyy HH:mm'}}</td>
                                    <td>
                                        <span>{{com.fechaEntrega | date : 'dd/MM/yyyy HH:mm'}}</span>
                                    </td>
                                    <td>
                                        {{com.estado}}
                                        <a (click)="verDetallePago(com)" class="ver-todo ms-2">Ver detale pago</a>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center" *ngIf="loginService.isPresentRolname('ROLE_ADMIN') && com.estado != 'Anulado'">
                                            <button (click)="changeStatusEntregado(com)"
                                                *ngIf="!preloaderEntregando || editando != com.idcomprobante"
                                                class="btn btn-info me-2">
                                                <span *ngIf="isPedido">Entregado</span>
                                                <span *ngIf="!isPedido">Pedido</span>
                                            </button>
                                            <div *ngIf="preloaderEntregando && editando == com.idcomprobante"
                                                class="spinner-border text-primary me-2" role="status">
                                                <span class="visually-hidden"></span>
                                            </div>
                                            <div *ngIf="isPedido">
                                                <button (click)="changeStatusAnular(com)"
                                                    *ngIf="!preloaderAnulando || editando != com.idcomprobante"
                                                    class="btn btn-danger">
                                                    Anular
                                                </button>
                                                <div *ngIf="preloaderAnulando && editando == com.idcomprobante"
                                                    class="spinner-border text-primary" role="status">
                                                    <span class="visually-hidden">...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr bgcolor="blanchedalmond">
                                    <th>Imagen</th>
                                    <th colspan="2">Nombre</th>
                                    <th colspan="2">Detalle</th>
                                    <th>Descuento</th>
                                    <th>Subtotal</th>
                                </tr>
                                <tr *ngFor="let dc of com.detalleComprobantes">
                                    <td>
                                        <img style="width: 55px; height: 55px;"
                                            src="{{url_backend}}/{{dc.detalleIngreso.producto.productoImagenes[0].imagen}}"
                                            alt="...">
                                    </td>
                                    <td colspan="2">
                                        {{dc.detalleIngreso.producto.nombre}}
                                    </td>
                                    <td colspan="2">
                                        <span *ngIf="dc?.variedad" class="text-muted me-2">Talla:</span> {{dc.variedadColor}}                                        
                                    </td>
                                    <td>
                                        <span class="text-muted me-2">Cantidad:</span> {{dc.cantidad}}
                                        <br>
                                        <span *ngIf="dc?.descuento" class="text-muted me-2">
                                            Descuento: S/. {{dc.descuento}}
                                        </span>
                                        
                                    </td>
                                    <td>
                                        <span class="text-muted me-2">Subtotal:</span>S/. {{dc.subTotal}}
                                    </td>
                                </tr>
                                <tr bgcolor="blanchedalmond">
                                    <td>
                                        <span class="text-muted me-2">IGV:</span> S/. {{com.igv}}
                                    </td>
                                    <td>
                                        <span class="text-muted me-2">Monto de envío:</span>S/. {{com.montoEnvio}}
                                    </td>
                                    <td>
                                        <span class="text-muted me-2">Descuento Total:</span>S/. {{com.descuento}}
                                    </td>
                                    <td>
                                        <span class="text-muted me-2">Subtotal:</span>S/. {{com.subTotal}}
                                    </td>
                                    <td>
                                        <span class="text-muted me-2">Total:</span>S/. {{com.total}}
                                    </td>
                                    <td colspan="2">
                                        <span class="text-muted me-2">Dirección:</span>
                                        {{com.direccionEnvio.direccion}}
                                        <a (click)="verTodo(com.direccionEnvio)" class="ver-todo">Ver todo</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div style="width: 100%; overflow: auto;" *ngIf="!errMessageComs">
                <app-paginador-general [paginador]="paginator"> </app-paginador-general>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errMessageComs">
                {{errMessageComs}}
            </div>
        </div>
    </div>
</div>