<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background: rgb(1, 196, 218);">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand" href="javascript:void(0)">
                    <span>SPMPerú</span>
                </a>
            </div>
        </div>
    </nav>
    <br>
    <div class="card mt-5">
        <h3>Lista de comentarios</h3>
        <table class="table table-bordered border-primary">
            <thead class="table-info">
                <tr>
                    <th scope="col">codigo</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">comentario</th>
                    <th scope="col">Id producto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">00001111</th>
                    <td>Tomate</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">00001112</th>
                    <td>Piña</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                </tr>
                <tr>
                    <th scope="row">00001113</th>
                    <td>Carne</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

