<div class="stilo-modal" *ngIf="isVisibleModal">
    <div class="container mt-5">
        <div class="card w-70">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>DATOS COMPLETOS DEL CLIENTE</h5>
                    <h2 (click)="closeModal()" 
                        style="color: red; font-weight: bold; cursor:pointer">X</h2>
                </div>                
            </div>
            <div class="card-body" style="height: 450px; overflow: auto;" *ngIf="cliente?.idcliente">
                <div class="row">
                    <div class="col-sm-4" *ngIf="cliente.persona?.fotoPerfil">
                        <ul class="list-group">
                            <li class="list-group item">
                                <img style="width: 100%;" src="{{url_backend}}/{{cliente.persona.fotoPerfil}}" alt="{{cliente.persona.fotoPerfil}}">
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-group">
                            <li class="list-group item">
                                <span style="color:blue;">Estado: </span>{{cliente.estado}}
                            </li>
                            <li class="list-group item">
                                <span style="color:blue;">Fecha: </span>{{cliente.fecha}}
                            </li>
                            <li class="list-group item">
                                <span style="color:blue;">Nombre de usuario: </span>{{cliente.usuario.username}}
                            </li>
                            <li class="list-group item">
                                <span style="color:blue;">Email: </span>{{cliente.usuario.email}}
                            </li> 
                            <li class="list-group item">
                                <span style="color:blue;">Rol: </span>{{cliente.usuario.roles[0]}}
                            </li>                            
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-group">
                            <li class="list-group item">
                                <span style="color: blue;">DNI: </span>{{cliente.persona.dni}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">Nombre: </span>{{cliente.persona.nombre}} {{cliente.persona.apellidos}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">Género: </span>{{cliente.persona.genero}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">F/Nacimiento: </span>{{cliente.persona.fechaNacimiento | date: 'dd/MM/yyyy'}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">Teléfono: </span>{{cliente.persona.telefono}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">Dirección: </span>{{cliente.persona.direccion}}
                            </li>
                        </ul>
                    </div>
                    
                </div>        
                <div class="row row-cols-1 row-cols-md-2 mt-2">
                    <div class="col" *ngIf="cliente.clienteProveedor?.idcp">
                        <ul class="list-group">
                            <li class="list-group item">
                                <span style="color:blue">RUC: </span>{{cliente.clienteProveedor.ruc}}
                            </li>
                            <li class="list-group item">
                                <span style="color:blue">Razón Social: </span>{{cliente.clienteProveedor.razonSocial}}
                            </li>
                            <li class="list-group item">
                                <span style="color:blue">Teléfono: </span>{{cliente.clienteProveedor.telefono}}
                            </li>
                            <li class="list-group item">
                                <span style="color:blue">Dirección: </span>{{cliente.clienteProveedor.direccion}}
                            </li>
                            <li class="list-group item">
                                <span style="color:blue">Email: </span>{{cliente.clienteProveedor.email}}
                            </li>
                        </ul>
                    </div>
                    <div class="col" *ngIf="cliente.clienteCaracteristica?.idcaracteristica">
                        <ul class="list-group">
                            <li class="list-group item">
                                <span style="color: blue;">Enfermedad: </span>{{cliente.clienteCaracteristica.enfermedad}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">Alergía: </span>{{cliente.clienteCaracteristica.alergia}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">Deseo: </span>{{cliente.clienteCaracteristica.deseo}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">Dieta: </span>{{cliente.clienteCaracteristica.dieta}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">Ocupación: </span>{{cliente.clienteCaracteristica.ocupacion}}
                            </li>
                            <li class="list-group item">
                                <span style="color: blue;">Pasatiempo: </span>{{cliente.clienteCaracteristica.pasatiempo}}
                            </li>
                        </ul>
                    </div>                   
                </div>        
            </div>
        </div>
    </div>
</div>
