<div class="stilo-modal" *ngIf="isVisibleModal">
    <div class="wrapper mt-5">
        <div class="card w-75" style="height: 450px; overflow: auto;">
            <div class="card-header d-flex justify-content-between">   
                <h4>VISTA COMPLETA DEL PRODUCTO</h4>        
                <span (click)="close()" style="color: red; font-size: 20px; cursor: pointer; font-weight: bold;">X</span>
            </div>
            <div class="card-body">
                <div *ngIf="producto?.idproducto">
                    <div class="row row-cols-2 row-cols-sm-3">
                        <div class="col" *ngFor="let imagen of producto.productoImagenes">
                            <img style="width: 100%; height: auto;" src="{{url_backend}}/{{imagen.imagen}}" alt="imagen">
                        </div>                        
                    </div>
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 mt-3">
                        <div class="col">
                            <span style="color: blue;">Nombre:</span> {{producto.nombre}}                            
                        </div>      
                        <div class="col">
                            <span style="color: blue;">Código:</span> {{producto.codigo}}
                        </div>  
                           
                        <div class="col">
                            <span style="color: blue;">Descripción:</span> {{producto.descripcion}}
                        </div>               
                    </div>
                    <div class="row mt-3" *ngIf="producto?.productoVestimenta">
                        <div class="col">
                            <span style="color: blue; margin-right: 5px;">Material:</span> {{producto.productoVestimenta.material}}
                            <span style="color: blue;">Modelo:</span> {{producto.productoVestimenta.modelo}}                            
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        
    </div>
</div>