<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background: rgb(1, 196, 218);">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand" href="javascript:void(0)">
                    <span>SPMPerú</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card text-center" style="width:17rem;">
            <div class="card-header">
                Nueva contraseña
            </div>
            <div class="card-body">
                <form (ngSubmit)="confirmar()">
                    <div class="form-floating">
                        <input type="password" name="password" [(ngModel)]="dto.password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Contraseña:</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="confirmPassword" [(ngModel)]="dto.confirmPassword" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Confirmar Contraseña:</label>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-info">Confirmar</button>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger" *ngIf="errMessage" role="alert">
                            {{errMessage}}
                        </div>
                        <div class="alert alert-success" *ngIf="successfulMessage" role="alert">
                            {{successfulMessage}} <a class="ms-2 link-custom" routerLink="/login">Iniciar sesión</a>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
