<app-panel></app-panel>

<app-vermas-producto *ngIf="mproducto?.idproducto" [isVisibleModal]="verMasVisible"
    [producto]="mproducto" (cerrarModal)="verMasVisible = $event">
</app-vermas-producto>

<div class="row modal-style" *ngIf="preloader">
    <div class="wrapper2">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container p-0" style="margin-top: 4rem;">
    <div class="card m-0 p-0">
        <div class="card-header">
            <div class="wrapper">
                <h5>EDITAR INGRESO {{fechahoy | date: 'dd/MM/yyyy'}}</h5>
            </div>
        </div>
        <div class="card-body m-1 p-1">            
            <div class="row">
                <div class="col">
                    <app-seleccion-producto *ngIf="visibleModal" [isVisibleModal]="visibleModal"
                        (cerrarModal)="visibleModal = $event">
                    </app-seleccion-producto>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form (ngSubmit)="updateIngreso()" #asFormIngreso="ngForm">
                        <fieldset>
                            <legend style="font-weight: bold; font-size: 15px;">Ingreso</legend>                            
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="ruc">RUC Proveedor:</label>
                                        <input type="text" name="ruc" [(ngModel)]="ingreso.ruc" required
                                            pattern="^[0-9]\d{9,10}$" #asRuc="ngModel" class="form-control">
                                        <div *ngIf="asRuc.invalid && (asRuc.touched || asRuc.dirty)">
                                            <div *ngIf="asRuc.errors?.['required']">
                                                <span>Campo requerido</span>
                                            </div>
                                            <div *ngIf="asRuc.errors?.['pattern']">
                                                <span>Campo requerido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Fecha:</label>
                                        <p class="form-control">{{ingreso.fecha}}</p>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="tipoComprobante">Tipo Comprobante</label>
                                        <select name="tipoComprobante" [(ngModel)]="ingreso.tipoComprobante" required
                                            #asTipoComprobante="ngModel" class="form-control">
                                            <option value="">--Seleccione--</option>
                                            <option value="Boleta">Boleta</option>
                                            <option value="Factura">Factura</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                        <div *ngIf="asTipoComprobante.invalid && asTipoComprobante.touched">
                                            <div *ngIf="asTipoComprobante.errors?.['required']">
                                                <span>Campo requerido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Estado:</label>
                                        <p class="form-control">{{ingreso.estado}}</p>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="igv">IGV:</label>
                                        <strong class="form-control">{{ingreso.igv}}</strong>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Personal:</label>
                                        <strong class="form-control">{{ingreso.personal.persona.nombre}}
                                            {{ingreso.personal.persona.apellidos}}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <fieldset class="marco">
                                        <legend style="font-weight: bold; font-size: 15px;">Detalle de ingreso</legend>
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="form-group mt-2">
                                                    <label for="">Seleccione producto</label>
                                                    <div class="view-grid-one">
                                                        <div>
                                                            <button (click)="selectProducto()" type="button" disabled="true"
                                                                class="form-control btn btn-info">
                                                                <i class="bi bi-check2-square" style="color: white;"></i>
                                                            </button>
                                                        </div>
                                                        <div>
                                                            <input type="text" value="{{detalleIngreso.producto.nombre}}"
                                                                disabled class="form-control" placeholder="Producto">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="detalleIngreso.producto?.productoVestimenta">
                                                    <span class="text-muted">Tallas</span>
                                                    <hr>    
                                                    <div class="form-group">
                                                        <label for="nombreImagen">Imagen</label>
                                                        <select name="nombreImagen" [(ngModel)]="color.nombreImagen" 
                                                            class="form-control">
                                                            <option value="">--</option>
                                                            <option *ngFor="let pimg of detalleIngreso.producto.productoImagenes" 
                                                                value="{{pimg.imagen}}">
                                                                {{pimg.imagen}}
                                                            </option>
                                                        </select>
                                                    </div>                                                  
                                                    <div class="grid-custom-variedad mt-2">
                                                        <div>
                                                            <label for="nombreColor">Color</label>
                                                            <input type="text" name="nombreColor"
                                                                [(ngModel)]="color.nombreColor" class="form-control">
                                                        </div>
                                                        <div>
                                                            <label for="cantidadColor">#</label>
                                                            <input type="number" min="1" name="cantidadColor"
                                                                [(ngModel)]="color.cantidadColor" class="form-control">
                                                        </div>
                                                        <div class="pt-4">
                                                            <button (click)="addColor()" type="button" class="btn btn-info p-0">
                                                                <i class="bi bi-file-plus"
                                                                    style="color: white; font-size: 23px;"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="mt-2">
                                                        <span class="display-color me-2" *ngFor="let color of variedad.colores">
                                                            {{color.nombreColor}}:{{color.cantidadColor}} 
                                                            <i (click)="eliminarColor(color)" class="bi bi-x-circle-fill custom ms-2"></i>
                                                            <i (click)="editarColor(color)" class="bi bi-pencil-square ms-2" style="color: rgb(32, 47, 178);"></i>
                                                        </span>
                                                    </div>
                                                    <div class="grid-custom-variedad">
                                                        <div>
                                                            <label for="nombreTalla">Talla</label>
                                                            <input type="text" name="nombreTalla"
                                                                [(ngModel)]="variedad.nombreTalla" class="form-control">
                                                        </div>
                                                        <div>
                                                            <label for="cantidadTalla">Cant#</label>
                                                            <input type="number" min="1" name="cantidadTalla" disabled="true"
                                                                [(ngModel)]="variedad.cantidadTalla" class="form-control">
                                                        </div>
                                                        <div class="pt-4">
                                                            <button (click)="addVariedad()" type="button"
                                                                class="btn btn-primary p-0">
                                                                <i class="bi bi-file-plus"
                                                                    style="color: white; font-size: 23px;"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="rounded bg-success mt-2 p-2">                                                
                                                        <div class="bg-custom me-2 mt-2"
                                                            *ngFor="let va of detalleIngreso.variedades">
        
                                                            <span style="color: black;">{{va.nombreTalla}}:{{va.cantidadTalla}}</span>
                                                            <i (click)="eliminarVariedad(va)"
                                                                class="bi bi-x-circle-fill custom ms-2"></i>
                                                            <i (click)="editarVariedad(va)" class="bi bi-pencil-square ms-2" style="color: rgb(32, 47, 178);"></i>
                                                            <span class="text-muted ms-2">Colores:</span>
                                                            <span class="ms-2" *ngFor="let color of va.colores">
                                                                <span style="color: black;">{{color.nombreColor}}:{{color.cantidadColor}}</span>
                                                                <i (click)="eliminarColorEnVariedad(color, va)"
                                                                    class="bi bi-x-circle-fill custom ms-2"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="col-sm">
                                                <div class="form-group view-grid mt-2">
                                                    <div>
                                                        <label for="precioVentaAnterior">P.V anterior</label>
                                                        <input type="number" name="precioVentaAnterior"
                                                            [(ngModel)]="detalleIngreso.precioVentaAnterior"
                                                            class="form-control">
                                                    </div>
                                                    <div>
                                                        <label for="porcentajeDescuento">% Descuento</label>
                                                        <input type="number" name="porcentajeDescuento"
                                                            [(ngModel)]="detalleIngreso.porcentajeDescuento"
                                                            class="form-control" (change)="calculos()">
                                                    </div>
                                                </div>
                                                <div class="form-group view-grid mt-2">
                                                    <div>
                                                        <label for="stockInicial">Stock Inicial</label>
                                                        <input type="number" name="stockInicial" disabled
                                                            [(ngModel)]="detalleIngreso.stockInicial" class="form-control">
                                                    </div>
                                                    <div>
                                                        <label for="stockActual">Stock Actual</label>
                                                        <input type="number" name="stockActual"
                                                            [(ngModel)]="detalleIngreso.stockActual" 
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <label for="sucursal">Sucursal</label>
                                                    <select name="sucursal" [(ngModel)]="detalleIngreso.sucursal" 
                                                        disabled="true" class="form-control">
                                                        <option value="">--Seleccione--</option>
                                                        <option value="Huaura">Huaura</option>
                                                        <option value="Barranca">Barranca</option>
                                                    </select>     
                                                </div>
                                            </div>
    
                                            <div class="col-sm">
                                                <div class="form-group view-grid mt-2">
                                                    <div>
                                                        <label for="fechaProduccion">F. Producción</label>
                                                        <input type="date" name="fechaProduccion"
                                                            [(ngModel)]="detalleIngreso.fechaProduccion"
                                                            class="form-control">
                                                    </div>
                                                    <div>
                                                        <label for="fechaVencimiento">F. Vencimiento</label>
                                                        <input type="date" name="fechaVencimiento"
                                                            [(ngModel)]="detalleIngreso.fechaVencimiento"
                                                            class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-group view-grid mt-2">
                                                    <div>
                                                        <label for="precioCompra">Precio de compra</label>
                                                        <input type="number" name="precioCompra"
                                                            [(ngModel)]="detalleIngreso.precioCompra" class="form-control">
                                                    </div>
                                                    <div>
                                                        <label for="precioVenta">Precio de Venta</label>
                                                        <input type="number" name="precioVenta" disabled="true"
                                                            [(ngModel)]="detalleIngreso.precioVenta" class="form-control">
                                                    </div>
                                                </div>
    
                                                <div class="form-group view-grid mt-4">
                                                    <button (click)="agregarDI()" type="button"
                                                        class="btn btn-outline-primary">Actualizar</button>
                                                    <button (click)="cancelarDI()" type="button" style="margin-left: 5px;"
                                                        class="btn btn-outline-danger">Cancelar</button>
    
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col">
                                    <fieldset class="marco">
                                        <legend style="font-size: 15px; font-weight: bold;">Lista de detalles</legend>
                                        <div class="row">
                                            <div class="col m-0 p-0">
                                                <div style="width: 100%; overflow: auto;">
                                                    <table class="table table-striped" style="width: 100%; min-width: 580px;">
                                                        <thead>
                                                            <tr bgcolor="skyblue" class="text-center">
                                                                <th scope="col">Producto</th>
                                                                <th scope="col">PVA</th>
                                                                <th scope="col">PD</th>
                                                                <th scope="col">PV</th>
                                                                <th scope="col">SI</th>
                                                                <th scope="col">SA</th>
                                                                <th scope="col">FP</th>
                                                                <th scope="col">FV</th>                                                                
                                                                <th style="width: 50px;" scope="col">Acción</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="text-center"
                                                                *ngFor="let di of ingreso.detalleIngresos">
                                                                <td>{{di.producto.nombre}}</td>
                                                                <td>{{di.precioVentaAnterior}}</td>
                                                                <td>{{di.porcentajeDescuento}}</td>
                                                                <td>{{di.precioVenta}}</td>
                                                                <td>{{di.stockInicial}}</td>
                                                                <td>{{di.stockActual}}</td>
                                                                <td>{{di.fechaProduccion}}</td>
                                                                <td>{{di.fechaVencimiento}}</td>                                                                
                                                                <td class="view-grid-buttons">
                                                                    <a (click)="verMas(di)" style="cursor: pointer;">
                                                                        <i class="bi bi-binoculars-fill" style="font-size: 25px; color: lightseagreen;"></i>
                                                                    </a>
                                                                    
                                                                    <a style="cursor: pointer;" (click)="obtenerDI(di)">
                                                                        <i class="bi bi-pencil-square" style="font-size: 20px; color:blue"></i>
                                                                    </a>
                                                                    
                                                                    <a (click)="eliminarDI(di)" style="cursor: pointer;" *ngIf="ingreso.detalleIngresos.length > 1">
                                                                        <i class="bi bi-trash" style="font-size: 20px; color:red"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                        <div style=" justify-content: right; display: flex; margin-top: 3px;">
                            <div style="border: rgb(189, 184, 184) solid 1px; width: 350px; border-radius: .5rem;">
                                <div class="wrapper">
                                    <input [disabled]="asFormIngreso.form.invalid" type="submit"
                                        class="btn btn-outline-primary" value="GUARDAR">
                                    <button (click)="cancelar()" style="margin-left: 5px;" class="btn btn-outline-danger"
                                        type="button">CANCELAR</button>
                                    <button (click)="eliminar()" style="margin-left: 5px;" class="btn btn-outline-danger"
                                        type="button">ELIMINAR</button>
    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</div>