<app-panel></app-panel>

<div class="row modal-style" *ngIf="preloader">
    <div class="wrapper2">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 4rem;">
    <div class="card p-1 mb-2">
        <div class="card-header">
            PRODUCTO NUEVO
        </div>
        <div class="card-body m-1 p-0">
            <div class="row">
                <div class="col p-1">
                    <fieldset class="p-3">
                        <legend style="font-weight: bold;">Tipo, categoria e imagen</legend>
                        <hr>
                        <div class="row">
                            <div class="col-sm p-3">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="2">TIPOS</th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input type="text" #asSearchTip (keyup)="onSearchTip(asSearchTip.value)"
                                                    class="form-control" placeholder="Buscar">
                                            </th>
                                            <th>
                                                <table>
                                                    <tr class="text-center">
                                                        <td>
                                                            <button (click)="previousTip()"
                                                                class="page-link">&laquo;</button>
                                                        </td>
                                                        <td>
                                                            <button
                                                                [disabled]="(tipos | filtroTipo:pageTip:searchTip).length == 0"
                                                                (click)="nextTip()" class="page-link">&raquo;</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </th>
                                        </tr>
                                        <tr bgcolor="skyblue">
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tipo of tipos | filtroTipo:pageTip:searchTip">
                                            <td>
                                                <span>Tipo:</span>
                                                {{tipo.nombre}}
                                                <br>
                                                <span>Categoría:</span>
                                                {{tipo.categoria.nombre}}
                                            </td>
                                            <td>
                                                <a class="tamano">
                                                    <img (click)="seleccionarTipo(tipo)"
                                                        style="width: 30px; height: 30px; margin-left: 10px;"
                                                        src="../../../assets/img/seleccionar.png" alt="seleccionar.png">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-sm p-3">
                                <div class="form-group">
                                    <p style="font-weight: bold;">IMAGENES</p>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="imagen">Imagen (Hasta 10MB)</label>
                                    <input type="file" (change)="capturarImagen($event)" class="form-control"> 
                                </div>
                                <div class="row row-cols-3 mt-2">
                                    <div class="col" *ngFor="let nimg of imageNames">

                                        <a (click)="eliminarImagen(nimg)" class="float-end" style="cursor: pointer;">
                                            <i class="bi bi-x-circle-fill" style="color: red;"></i>
                                        </a>
                                        <img style="width: 100%; height: auto;" 
                                            [src]="nimg" alt="no image">
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form (ngSubmit)="saveProducto()" #asFormProducto="ngForm">
                        <fieldset>
                            <legend style="font-weight: bold;">Datos generales</legend>
                            <hr>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="grid-custom">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="codigo" [(ngModel)]="producto.codigo" required
                                                minlength="6" maxlength="10" #asCodigo="ngModel" class="form-control"
                                                id="floatingInput" placeholder="nombre de la categoria">
                                            <label for="floatingInput">Código:</label>
                                            <div *ngIf="asCodigo.invalid && (asCodigo.touched || asCodigo.dirty)">
                                                <div *ngIf="asCodigo.errors?.['minlength']">
                                                    <span>Mínimo 6 caracteres</span>
                                                </div>
                                                <div *ngIf="asCodigo.errors?.['maxlength']">
                                                    <span>Máximo 10 caracteres</span>
                                                </div>
                                                <div *ngIf="asCodigo.errors?.['required']">
                                                    <span>Campo requerido</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="number" name="puntos" [(ngModel)]="producto.puntos"
                                                class="form-control" id="floatingInput" placeholder="0">
                                            <label for="floatingInput">Puntos:</label>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="">Categoria:</label>
                                        <p class="form-control alert-success">{{producto.tipo.categoria.nombre}}</p>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="nombre" [(ngModel)]="producto.nombre"
                                            class="form-control" id="floatingInput" required #asNombre="ngModel"
                                            placeholder="nombre de la categoria">
                                        <label for="floatingInput">Nombre:</label>
                                        <div *ngIf="asNombre.invalid && asNombre.touched">
                                            <div *ngIf="asNombre.errors?.['required']">
                                                <span>Campo requerido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="">Tipo:</label>
                                        <p class="form-control alert-success">{{producto.tipo.nombre}}</p>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <textarea type="text" name="descripcion" [(ngModel)]="producto.descripcion"
                                            rows="3" class="form-control" id="floatingInput"
                                            placeholder="Describa el producto"></textarea>
                                        <label for="floatingInput">Descripción:</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="text" name="marca" class="form-control"
                                            [(ngModel)]="producto.marca" id="floatingInput" placeholder="Marca">
                                        <label for="floatingInput">Marca:</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="mt-2 p-1">
                            <legend style="font-weight: bold;">
                                Alimento <input type="checkbox" id="chk_alimento" #chk_alimento value="alimento"
                                    (change)="categoriaAlimento($event)">
                            </legend>
                            <hr>
                            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5"
                                *ngIf="isAlimento">
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="calorias" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.calorias" id="floatingInput"
                                            placeholder="Calorias por gramo">
                                        <label for="floatingInput">Calorias(Kal):</label>
                                    </div>
                                </div>
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="grasa" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.grasa" id="floatingInput"
                                            placeholder="Grasa por gramo">
                                        <label for="floatingInput">Grasa(gr):</label>
                                    </div>
                                </div>
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="colesterol" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.colesterol" id="floatingInput"
                                            placeholder="Colesterol por gramo">
                                        <label for="floatingInput">Fibra(gr):</label>
                                    </div>
                                </div>
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="calcio" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.calcio" id="floatingInput"
                                            placeholder="Calcio por gramo">
                                        <label for="floatingInput">Calcio(gr):</label>
                                    </div>
                                </div>
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="sodio" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.sodio" id="floatingInput"
                                            placeholder="Sodio por gramo">
                                        <label for="floatingInput">Agua(ml):</label>
                                    </div>
                                </div>
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="hierro" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.hierro" id="floatingInput"
                                            placeholder="Hierro por gramo">
                                        <label for="floatingInput">Hierro(gr):</label>
                                    </div>
                                </div>
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="carbohidrato" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.carbohidrato"
                                            id="floatingInput" placeholder="Carbohidrato por gramo">
                                        <label for="floatingInput">Carbohidrato(gr):</label>
                                    </div>
                                </div>
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="minerales" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.minerales" id="floatingInput"
                                            placeholder="Minerales">
                                        <label for="floatingInput">Minerales:</label>
                                    </div>
                                </div>
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="proteina" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.proteina" id="floatingInput"
                                            placeholder="Proteina por gramo">
                                        <label for="floatingInput">Proteina(gr):</label>
                                    </div>
                                </div>
                                <div class="col p-1">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="vitamina" class="form-control"
                                            [(ngModel)]="producto.productoDatoNutricional.vitamina" id="floatingInput"
                                            placeholder="Vitamina por gramo">
                                        <label for="floatingInput">Vitamina(gr):</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="mt-2">
                            <legend style="font-weight: bold;">
                                Vestimenta <input type="checkbox" id="chk_vestimenta" #chk_vestimenta value="vestimenta"
                                    (change)="categoriaVestimenta($event)">
                            </legend>
                            <hr>
                            <div class="row row-cols-1 row-cols-sm-2" *ngIf="isVestimenta">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="modelo" class="form-control"
                                            [(ngModel)]="producto.productoVestimenta.modelo" id="floatingInput"
                                            placeholder="Modelo">
                                        <label for="floatingInput">Modelo:</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="material" class="form-control"
                                            [(ngModel)]="producto.productoVestimenta.material" id="floatingInput"
                                            placeholder="Material">
                                        <label for="floatingInput">Material:</label>
                                    </div>
                                </div>
                            </div>                            
                        </fieldset>
                        <fieldset class="mt-2">
                            <legend style="font-weight: bold;">
                                Otros: <input type="checkbox" id="chk_otro" #chk_otro value="otro"
                                    (change)="categoriaOtro($event)">
                            </legend>
                            <hr>
                            <div class="row " *ngIf="isOtro">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="modelo" class="form-control"
                                            [(ngModel)]="producto.productoOtros.modelo" id="floatingInput"
                                            placeholder="Modelo">
                                        <label for="floatingInput">Modelo:</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" name="color" class="form-control"
                                            [(ngModel)]="producto.productoOtros.color" id="floatingInput"
                                            placeholder="Color">
                                        <label for="floatingInput">Color:</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="material" class="form-control"
                                            [(ngModel)]="producto.productoOtros.material" id="floatingInput"
                                            placeholder="Material">
                                        <label for="floatingInput">Material:</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" name="medida" class="form-control"
                                            [(ngModel)]="producto.productoOtros.medida" id="floatingInput"
                                            placeholder="Medida">
                                        <label for="floatingInput">Medida:</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="peso" class="form-control"
                                            [(ngModel)]="producto.productoOtros.peso" id="floatingInput"
                                            placeholder="Peso">
                                        <label for="floatingInput">Peso:</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="mt-2">
                            <div class="row">
                                <div class="col">
                                    <input [disabled]="asFormProducto.form.invalid" type="submit"
                                        class="form-control btn btn-primary" value="GUARDAR">
                                    <button (click)="cancelar()"
                                        class="form-control btn btn-danger mt-3">Cancelar</button>
                                    <button routerLink="/pro-lista" class="form-control btn btn-success mt-3">VER
                                        LISTA</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>