<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background: rgb(1, 196, 218);">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand" href="javascript:void(0)">
                    <span>SPMPerú</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card text-center" style="width:17rem;">
            <div class="card-header">
                Recuperar contraseña
            </div>
            <div class="card-body">
                <form (ngSubmit)="enviar()">
                    <div class="form-group my-2">
                        <span class="text-muted">Recibiras un mensaje de renovación al correo que registro al crear su usuario</span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="mailTo" [(ngModel)]="dto.mailTo" class="form-control" id="floatingInput" 
                            placeholder="name@example.com">
                        <label for="floatingInput">Correo o usuario:</label>
                    </div>    
                    <div class="form-group">
                        <button [disabled]="preloader" type="submit" class="btn btn-info d-flex">
                            <span>Enviar</span>
                            <div class="spinner-border text-primary" role="status" *ngIf="preloader">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </div>
                </form>                
                <div class="mt-2">
                    <div class="alert alert-danger" *ngIf="errMessageMail" role="alert">
                        {{errMessageMail}}
                    </div>
                    <div class="alert alert-success" *ngIf="successfulMessageMail" role="alert">
                        {{successfulMessageMail}}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" routerLink="/login" class="btn btn-danger form-control">Cancelar</button>
            </div>
        </div>
    </div>
</div>
