<app-panel></app-panel>
<div class="container-fluid" style="margin-top: 4rem;">
    <div class="card mb-2">
        <div class="card-header">
            <h5>LISTA DE OFERTAS DE LOS PROVEEDORES</h5>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col">
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped table-hover" style="width: 100%; min-width: 600px;">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Buscar
                                    </th>
                                    <th>
                                        <input type="date" name="finicio" [(ngModel)]="finicio" class="form-control">
                                    </th>
                                    <th>
                                        <input type="date" name="ffin" [(ngModel)]="ffin" class="form-control">
                                    </th>
                                    <th>
                                        <button (click)="buscar()" class="btn btn-outline-success">Buscar</button>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4"></th>
                                    <th>
                                        <button (click)="limpiar()" class="btn btn-outline-danger">Limpiar</button>
                                    </th>
                                </tr>
                                <tr class="text-center bg-secondary">
                                    <th scope="col">RUC</th>
                                    <th scope="col">Razón</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" style="width: 100px;">Acción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let pc of pcsearchs">
                                <tr>
                                    <td>{{pc.proveedor.ruc}}</td>
                                    <td>{{pc.proveedor.razonSocial}}</td>
                                    <td>{{pc.proveedor.direccion}}</td>
                                    <td>{{pc.proveedor.fotoPerfil}}</td>
                                    <td class="text-center">
                                        <div *ngIf="loginService.isPresentRolname('ROLE_ADMIN')">
                                            <button *ngIf="pc.estado == 'Pendiente'" (click)="marcarRechazado(pc)"
                                                class="btn btn-outline-info">
                                                Rechazar
                                            </button>
                                            <button *ngIf="pc.estado == 'Aceptado' || pc.estado == 'Rechazado'"
                                                (click)="marcarPendiente(pc)" class="btn btn-outline-info">
                                                Pendiente
                                            </button>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">Teléfono:</span>{{pc.proveedor.telefono}}</td>
                                    <td><span class="text-muted">Estado:</span>{{pc.estado}}</td>
                                    <td>
                                        <span class="text-muted">Fecha:</span> {{pc.fecha | date:'dd/MM/yyyy'}}
                                        <br>
                                        <span class="text-muted">IGV:</span> {{pc.igv}}
                                    </td>
                                    <td>
                                        <span class="text-muted">Sub Total:</span> {{pc.subTotal}}
                                        <span class="text-muted">Total:</span> {{pc.total}}
                                    </td>
                                    <td class="text-center">
                                        <div *ngIf="loginService.isPresentRolname('ROLE_ADMIN')">
                                            <button *ngIf="pc.estado == 'Pendiente'" (click)="marcarAceptado(pc)"
                                                class="btn btn-outline-info">
                                                Aceptar
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr bgcolor="skyblue" class="text-center">
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Calidad</th>
                                    <th scope="col" colspan="2">Descripción</th>
                                </tr>
                                <tr *ngFor="let oferta of pc.proveedorOfertas">
                                    <td class="bg-secondary">
                                        <img style="width: 100; height: 80px; object-fit: cover;" *ngIf="oferta?.imagen"
                                            src="{{url_backend}}/{{oferta.imagen}}" alt="...">
                                    </td>
                                    <td>
                                        <span class="text-muted">Nombre:</span>
                                        <br>
                                        {{oferta.nombre}}
                                        <br>
                                        <span class="text-muted">S/. </span> {{oferta.precio}}
                                        <span class="text-muted">Cant: </span>{{oferta.cantidad}} {{oferta.unidad}}
                                    </td>
                                    <td>{{oferta.calidad}}</td>
                                    <td colspan="2">{{oferta.descripcion}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger" role="alert">
                            <span>{{errMessgeSeardch}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h5>Ofertas pendientes</h5>
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%; min-width: 600px;">
                            <thead>
                                <tr class="text-center bg-secondary">
                                    <th scope="col">RUC</th>
                                    <th scope="col">Razón</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" style="width: 100px;">Acción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let pc of pcpendientes">
                                <tr>
                                    <td>{{pc.proveedor.ruc}}</td>
                                    <td>{{pc.proveedor.razonSocial}}</td>
                                    <td>{{pc.proveedor.direccion}}</td>
                                    <td>{{pc.proveedor.fotoPerfil}}</td>
                                    <td class="text-center">
                                        <button (click)="marcarRechazado(pc)"
                                            *ngIf="loginService.isPresentRolname('ROLE_ADMIN')"
                                            class="btn btn-outline-info">Rechazar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">Teléfono:</span>{{pc.proveedor.telefono}}</td>
                                    <td><span class="text-muted">Estado:</span>{{pc.estado}}</td>
                                    <td>
                                        <span class="text-muted">Fecha:</span> {{pc.fecha | date:'dd/MM/yyyy'}}
                                        <br>
                                        <span class="text-muted">IGV:</span> {{pc.igv}}
                                    </td>
                                    <td>
                                        <span class="text-muted">Sub Total:</span> {{pc.subTotal}}
                                        <span class="text-muted">Total:</span> {{pc.total}}
                                    </td>
                                    <td class="text-center">
                                        <button *ngIf="loginService.isPresentRolname('ROLE_ADMIN')"
                                            (click)="marcarAceptado(pc)" class="btn btn-outline-info">
                                            Aceptar
                                        </button>
                                    </td>
                                </tr>
                                <tr bgcolor="skyblue" class="text-center">
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Calidad</th>
                                    <th scope="col" colspan="2">Descripción</th>                                    
                                </tr>
                                <tr *ngFor="let oferta of pc.proveedorOfertas">
                                    <td class="bg-secondary">
                                        <img style="width: 100; height: 80px; object-fit: cover;" *ngIf="oferta?.imagen"
                                            src="{{url_backend}}/{{oferta.imagen}}" alt="...">
                                    </td>
                                    <td>
                                        <span class="text-muted">Nombre:</span>
                                        <br>
                                        {{oferta.nombre}}
                                        <br>
                                        <span class="text-muted">S/. </span> {{oferta.precio}}
                                        <span class="text-muted">Cant: </span>{{oferta.cantidad}} {{oferta.unidad}}
                                    </td>
                                    <td>{{oferta.calidad}}</td>
                                    <td  colspan="2">{{oferta.descripcion}}</td>                                    
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger" role="alert" *ngIf="errMessagePendiente">
                            <span>{{errMessagePendiente}}</span>
                        </div>
                        <div class="wrapper" *ngIf="!errMessagePendiente">
                            <app-pendiente-paginador [paginador]="paginatorPendiente" [tipo]="tipo">

                            </app-pendiente-paginador>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h5>Ofertas aceptados</h5>
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%; min-width: 600px;">
                            <thead>
                                <tr class="text-center bg-secondary">
                                    <th scope="col">RUC</th>
                                    <th scope="col">Razón</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" style="width: 100px;">Acción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let pc of pcaceptados">
                                <tr>
                                    <td>{{pc.proveedor.ruc}}</td>
                                    <td>{{pc.proveedor.razonSocial}}</td>
                                    <td>{{pc.proveedor.direccion}}</td>
                                    <td>{{pc.proveedor.fotoPerfil}}</td>
                                    <td class="text-center">
                                        <button (click)="marcarPendiente(pc)" class="btn btn-outline-info"
                                            *ngIf="loginService.isPresentRolname('ROLE_ADMIN')">Pendiente</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">Teléfono:</span>{{pc.proveedor.telefono}}</td>
                                    <td><span class="text-muted">Estado:</span>{{pc.estado}}</td>
                                    <td><span class="text-muted">Fecha:</span> {{pc.fecha | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <span class="text-muted">IGV:</span> {{pc.igv}}
                                        <br>
                                        <span class="text-muted">Sub Total:</span> {{pc.subTotal}}
                                    </td>
                                    <td>
                                        <span class="text-muted">Total:</span> {{pc.total}}
                                    </td>
                                </tr>
                                <tr bgcolor="skyblue" class="text-center">
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Calidad</th>
                                    <th scope="col" colspan="2">Descripción</th>                                    
                                </tr>
                                <tr *ngFor="let oferta of pc.proveedorOfertas">
                                    <td class="bg-secondary">
                                        <img style="width: 100; height: 80px; object-fit: cover;" *ngIf="oferta?.imagen"
                                            src="{{url_backend}}/{{oferta.imagen}}" alt="...">
                                    </td>
                                    <td>
                                        <span class="text-muted">Nombre:</span>
                                        <br>
                                        {{oferta.nombre}}
                                        <br>
                                        <span class="text-muted">S/. </span> {{oferta.precio}}
                                        <span class="text-muted">Cant: </span>{{oferta.cantidad}} {{oferta.unidad}}
                                    </td>
                                    <td>{{oferta.calidad}}</td>
                                    <td  colspan="2">{{oferta.descripcion}}</td>                                    
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger" role="alert" *ngIf="errMessageAceptado">
                            <span>{{errMessageAceptado}}</span>
                        </div>

                        <div class="wrapper" *ngIf="!errMessageAceptado">
                            <app-aceptado-paginador [paginador]="paginatorAceptado" [tipo]="tipo">

                            </app-aceptado-paginador>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h5>Ofertas rechazados</h5>
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%; min-width: 600px;">
                            <thead>
                                <tr class="text-center bg-secondary">
                                    <th scope="col">RUC</th>
                                    <th scope="col">Razón</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" style="width: 100px;">Acción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let pc of pcrechazados">
                                <tr>
                                    <td>{{pc.proveedor.ruc}}</td>
                                    <td>{{pc.proveedor.razonSocial}}</td>
                                    <td>{{pc.proveedor.direccion}}</td>
                                    <td>{{pc.proveedor.fotoPerfil}}</td>
                                    <td class="text-center">
                                        <button (click)="marcarPendiente(pc)" class="btn btn-outline-info"
                                            *ngIf="loginService.isPresentRolname('ROLE_ADMIN')">Pendiente</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">Teléfono:</span>{{pc.proveedor.telefono}}</td>
                                    <td><span class="text-muted">Estado:</span>{{pc.estado}}</td>
                                    <td><span class="text-muted">Fecha:</span> {{pc.fecha | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <span class="text-muted">IGV:</span> {{pc.igv}}
                                        <br>
                                        <span class="text-muted">Sub Total:</span> {{pc.subTotal}}
                                    </td>
                                    <td>
                                        <span class="text-muted">Total:</span> {{pc.total}}
                                    </td>
                                </tr>
                                <tr bgcolor="skyblue" class="text-center">
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Calidad</th>
                                    <th scope="col" colspan="2">Descripción</th>                                    
                                </tr>
                                <tr *ngFor="let oferta of pc.proveedorOfertas">
                                    <td class="bg-secondary">
                                        <img style="width: 100; height: 80px; object-fit: cover;" *ngIf="oferta?.imagen"
                                            src="{{url_backend}}/{{oferta.imagen}}" alt="...">
                                    </td>
                                    <td>
                                        <span class="text-muted">Nombre:</span>
                                        <br>
                                        {{oferta.nombre}}
                                        <br>
                                        <span class="text-muted">S/. </span> {{oferta.precio}}
                                        <span class="text-muted">Cant: </span>{{oferta.cantidad}} {{oferta.unidad}}
                                    </td>
                                    <td>{{oferta.calidad}}</td>
                                    <td  colspan="2">{{oferta.descripcion}}</td>                                    
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger" role="alert" *ngIf="errMessageRechazado">
                            <span>{{errMessageRechazado}}</span>
                        </div>
                        <div class="wrapper" *ngIf="!errMessageRechazado">
                            <app-rechazado-paginador [paginador]="paginatorRechazado" [tipo]="tipo">

                            </app-rechazado-paginador>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>