<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background: rgb(1, 196, 218);">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand" href="javascript:void(0)">
                    <span>SPMPerú</span>
                </a>
            </div>

        </div>
    </nav>
    <div style="margin-top: 5rem;">
        <div class="card">
            <div class="card-header">
                Marcas
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="nombre de la marca">
                <label for="floatingInput">Nombre de la marca:</label>
            </div>
            <div>
                <button class="btn btn-info">Registrar</button>
            </div>
            <div>
                <div class="card-header">
                    Lista
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Primor</li>
                    <li class="list-group-item">Carabela</li>
                    <li class="list-group-item">Alacena</li>
                  </ul>
            </div>
        </div>
    </div>
</div>
