<div class="modal-style-custom" *ngIf="estadoModal">
    <div class="wrapper" style="margin-top: 6rem;">
        <div class="car w-75" style="background-color: white;">
            <div class="card-header d-flex justify-content-between">
                <h5>Foto de perfil</h5>
                <button (click)="cerrar()" type="button" class="btn btn-danger">Cerrar</button>
            </div>
            <div class="card-body">
                <div>
                    <ul *ngIf="personal" class="list-group">
                        <li class="list-group item">
                            {{personal.persona.nombre}}, {{personal.persona.apellidos}}
                        </li>
                        <li class="list-group item" *ngIf="personal.persona?.fotoPerfil">
                            <img style="width: 300px; height: 300px;" src="{{url_backend}}/{{personal.persona.fotoPerfil}}" alt="">
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group item active">
                            Actualizar foto de perfil
                        </li>
                        <li class="list-group item">
                            <input type="file" class="form-control" (change)="capturarImagen($event)">
                            <span *ngIf="foto_perfil_error" style="color: red;">{{foto_perfil_error}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer mb-2">
                <button (click)="guardar()" type="button" class="btn btn-primary float-end m-2">Guardar Cambios</button>
            </div>
        </div>
    </div>    
</div>
