<app-panel></app-panel>
<div class="container" style="margin-top: 4rem;">
    <div class="card mb-2">
        <div class="card-header">
            <h5>LISTA DE PROVEEDORES</h5>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col">
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%; min-width: 580px;">
                            <thead>
                                <tr>
                                    <th colspan="4">Buscar por razón o ruc</th>
                                    <th colspan="2">
                                        <input type="text" name="texto" [(ngModel)]="texto" class="form-control"
                                            placeholder="Razón o RUC">
                                    </th>
                                    <th>
                                        <button (click)="buscar()" type="button"
                                            class="btn btn-outline-success">Buscar</button>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6"></th>
                                    <th>
                                        <button (click)="limpiar()" type="button"
                                            class="btn btn-outline-danger">Limpiar</button>
                                    </th>
                                </tr>
                                <tr class="text-center" bgcolor="skyblue">
                                    <th scope="col">#</th>
                                    <th scope="col">Datos</th>
                                    <th scope="col">Contacto</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pro of bproveedores">
                                    <td>
                                        <img style="width: 50px; height: 50px;" src="{{url_backend}}/{{pro.fotoPerfil}}"
                                            alt="{{pro.fotoPerfil}}">
                                    </td>
                                    <td>
                                        <span style="color: blue;">Ruc:</span>{{pro.ruc}}
                                        <br>
                                        <span style="color: blue;">RS:</span>{{pro.razonSocial}}
                                    </td>
                                    <td>
                                        <span style="color: blue;">Teléfono</span>{{pro.telefono}}
                                        <span style="color: blue;">Dirección</span>{{pro.direccion}}
                                    </td>
                                    <td>
                                        {{pro.estado}}
                                    </td>
                                    <td>
                                        {{pro.usuario.username}}
                                    </td>
                                    <td>
                                        {{pro.usuario.email}}
                                    </td>
                                    <td>
                                        <div *ngIf="loginService.isPresentRolname('ROLE_ADMIN')">
                                            <button *ngIf="pro.estado == 'Activo'" (click)="suspender(pro)"
                                                type="button" class="btn btn-danger">
                                                Suspender
                                            </button>
                                            <button *ngIf="pro.estado == 'Suspendido'" (click)="activar(pro)"
                                                type="button" class="btn btn-info">
                                                Activar
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span style="color: red;" *ngIf="errMessageSearch">{{errMessageSearch}}</span>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%; min-width: 580px;">
                            <thead>
                                <tr class="text-center" bgcolor="skyblue">
                                    <th scope="col">#</th>
                                    <th scope="col">Datos</th>
                                    <th scope="col">Contacto</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pro of proveedores">
                                    <td>
                                        <img style="width: 50px; height: 50px;" src="{{url_backend}}/{{pro.fotoPerfil}}"
                                            alt="{{pro.fotoPerfil}}">
                                    </td>
                                    <td>
                                        <span style="color: blue;">Ruc:</span>{{pro.ruc}}
                                        <br>
                                        <span style="color: blue;">RS:</span>{{pro.razonSocial}}
                                    </td>
                                    <td>
                                        <span style="color: blue;">Teléfono</span>{{pro.telefono}}
                                        <span style="color: blue;">Dirección</span>{{pro.direccion}}
                                    </td>
                                    <td>
                                        {{pro.estado}}
                                    </td>
                                    <td>
                                        {{pro.usuario.username}}
                                    </td>
                                    <td>
                                        {{pro.usuario.email}}
                                    </td>
                                    <td>
                                        <div *ngIf="loginService.isPresentRolname('ROLE_ADMIN')">
                                            <button *ngIf="pro.estado == 'Activo'" (click)="suspender(pro)"
                                                type="button" class="btn btn-danger">
                                                Suspender
                                            </button>
                                            <button *ngIf="pro.estado == 'Suspendido'" (click)="activar(pro)"
                                                type="button" class="btn btn-info">
                                                Activar
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger" role="alert" *ngIf="errMessageList">
                            {{errMessageList}}
                        </div>
                        <div class="wrapper" *ngIf="!errMessageList">
                            <app-proveedor-paginador [paginador]="paginatorList"></app-proveedor-paginador>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>