<app-panel></app-panel>
<div class="container" style="margin-top: 4rem;">
    <div class="card">
        <div class="card-header">
            <h5>LISTA DE CLIENTES</h5>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col">
                    <div style="width: 100%;overflow: auto;">
                        <table class="table table-striped" style="width: 100%; min-width: 580px;">
                            <thead>
                                <tr>
                                    <th colspan="3">Buscar por nombre o dni</th>
                                    <th>
                                        <input type="text" name="texto" [(ngModel)]="texto" class="form-control">
                                    </th>
                                    <th>
                                        <button (click)="searchClientes()" type="button"
                                            class="btn btn-outline-success">Buscar</button>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4"></th>
                                    <th>
                                        <button type="button" (click)="limpiar()"
                                            class="btn btn-outline-primary">Limpiar</button>
                                    </th>
                                </tr>
                                <tr bgcolor="skyblue" class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cli of bclientes">
                                    <td>
                                        <img *ngIf="cli.persona?.fotoPerfil" style="width:50px; height:50px"
                                            src="{{url}}/{{cli.persona.fotoPerfil}}" alt="...">
                                    </td>
                                    <td>{{cli.estado}}</td>
                                    <td>{{cli.fecha}}</td>
                                    <td>{{cli.persona.nombre}} {{cli.persona.apellidos}}</td>
                                    <td>
                                        <table style="width: 100%;">
                                            <tr class="text-center">
                                                <td><button (click)="ver(cli)"
                                                        class="btn btn-outline-primary">Ver</button></td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>
                                                    <button *ngIf="cli.estado == 'Activo'" (click)="suspender(cli)" class="btn btn-outline-danger">
                                                        Suspender
                                                    </button>
                                                    <button *ngIf="cli.estado == 'Suspendido'" (click)="activar(cli)" class="btn btn-outline-danger">
                                                        Activar
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span style="color: red;" *ngIf="errMessageSearch">{{errMessageSearch}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-cli-ver *ngIf="clienteSelect" [cliente]="clienteSelect" [isVisibleModal]="visibleModal"
                        (cerrar)="visibleModal = $event">

                    </app-cli-ver>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%; min-width: 580px;">
                            <thead>
                                <tr bgcolor="skyblue" class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cli of clientes">
                                    <td>
                                        <img *ngIf="cli.persona?.fotoPerfil" style="width:50px; height:50px"
                                            src="{{url}}/{{cli.persona.fotoPerfil}}" alt="...">
                                    </td>
                                    <td>{{cli.estado}}</td>
                                    <td>{{cli.fecha}}</td>
                                    <td>{{cli.persona.nombre}} {{cli.persona.apellidos}}</td>
                                    <td>
                                        <table style="width: 100%;">
                                            <tr class="text-center">
                                                <td><button (click)="ver(cli)"
                                                        class="btn btn-outline-primary">Ver</button></td>
                                            </tr>
                                            <tr class="text-center">
                                                <td *ngIf="loginService.isPresentRolname('ROLE_ADMIN')">
                                                    <button *ngIf="cli.estado == 'Activo'" (click)="suspender(cli)" class="btn btn-outline-danger">
                                                        Suspender
                                                    </button>
                                                    <button *ngIf="cli.estado == 'Suspendido'" (click)="activar(cli)" class="btn btn-outline-info">
                                                        Activar
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger" role="alert" *ngIf="errMessageList">
                            {{errMessageList}}
                        </div>                        
                        <div class="wrapper" *ngIf="!errMessageList">
                            <app-cli-paginador [paginador]="paginatorList">

                            </app-cli-paginador>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
