<div class="stilo-modal" *ngIf="visibleImg">
    <div class="wrapper">
        <div class="card" style="margin-top: 5rem;">
            <div class="card-header d-flex justify-content-between">
                <h5>IMAGENES</h5>
                <a class="click-custom" (click)="closeModalImg()"><i class="bi bi-x-circle-fill"></i></a>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-4">
                    <div class="col" *ngFor="let imagen of imagenes">
                        <img style="width: 100%; height: auto;" src="{{url_img}}/{{imagen.imagen}}" alt="imagen">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
