<div class="style-modal" *ngIf="isVisibleModal">
    <div class="wrapper" style="margin-top: 5rem;">
        <div class="card w-90">
            <div class="card-header d-flex justify-content-between">
                <h5>Seleccione un producto</h5>
                <span (click)="closeModal()"
                    style="color: red; font-size: 20px;cursor: pointer; font-weight: bold;">X</span>
            </div>
            <div class="card-body" style="height: 480px; overflow: auto;">
                <div class="row">
                    <div class="col">
                        <div style="width: 100%; overflow: auto;">
                            <table class="table table-striped" style="width: 100%;">
                                <thead>
                                    <tr class="text-center">
                                        <th colspan="2">Busqueda</th>
                                        <th>
                                            <input name="texto" [(ngModel)]="texto" type="text"
                                                placeholder="Nombre o código" class="form-control">
                                        </th>
                                        <th>
                                            <button (click)="buscar()" type="button"
                                                class="btn btn-success">Buscar</button>
                                        </th>
                                    </tr>
                                    <tr class="text-center">
                                        <th colspan="3"></th>
                                        <th>
                                            <button (click)="limpiar()" type="button"
                                                class="btn btn-danger">Limpiar</button>
                                        </th>
                                    </tr>
                                    <tr bgcolor="skyblue" class="text-center">
                                        <th scope="col">Imagenes</th>
                                        <th scope="col">Datos</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Estados</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let producto of bproductos">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <img style="width: 50px; height: 50px;"
                                                            src="{{url_backend}}/{{producto.productoImagenes[0].imagen}}"
                                                            alt="no image">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td><span style="color: blue;">Código: </span>{{producto.codigo}}
                                                    </td>
                                                    <td><span style="color: blue;">Nombre: </span>{{producto.nombre}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <span style="color: blue;">Descripción: </span>{{producto.descripcion}}
                                        </td>
                                        <td>
                                            <span style="color: blue;">Ingreso
                                                Barranca:</span>{{producto.ingresadoBarranca}}
                                            <br>
                                            <span style="color: blue;">Ingreso
                                                Huacho:</span>{{producto.ingresadoHuacho}}
                                        </td>
                                        <td>
                                            <a (click)="seleccionar(producto)">
                                                <img style="width: 30px; height: 30px; cursor: pointer; margin-left: 10px;"
                                                    src="../../../../assets/img/seleccionar.png" alt="seleccionar.png">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span style="color: red;" *ngIf="errMessageSearch">{{errMessageSearch}}</span>
                        </div>
                    </div>

                </div>
                <!--LISTA GENERAL-->
                <div class="row mt-2">
                    <div class="col">
                        <div style="width: 100%; overflow: auto;">
                            <table class="table table-striped" style="width: 100%;">
                                <thead>
                                    <tr bgcolor="skyblue" class="text-center">
                                        <th scope="col">Imagenes</th>
                                        <th scope="col">Datos</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Estados</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let producto of productos">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <img style="width: 50px; height: 50px;"
                                                            src="{{url_backend}}/{{producto.productoImagenes[0].imagen}}"
                                                            alt="no image">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td><span style="color: blue;">Código: </span>{{producto.codigo}}
                                                    </td>
                                                    <td><span style="color: blue;">Nombre: </span>{{producto.nombre}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td><span style="color: blue;">Descripción: </span>{{producto.descripcion}}</td>
                                        <td>
                                            <span style="color: blue;">Ingreso
                                                Barranca:</span>{{producto.ingresadoBarranca}}
                                            <br>
                                            <span style="color: blue;">Ingreso
                                                Huacho:</span>{{producto.ingresadoHuacho}}
                                        </td>
                                        <td>
                                            <a (click)="seleccionar(producto)">
                                                <img style="width: 30px; height: 30px; cursor: pointer; margin-left: 10px;"
                                                    src="../../../../assets/img/seleccionar.png" alt="seleccionar.png">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="wrapper">
                                <app-paginador-lista [paginador]="paginator" [tipo]="tipo">

                                </app-paginador-lista>
                            </div>
                            <span style="color: red;" *ngIf="errMessageList">{{errMessageList}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>