<app-panel></app-panel>
<div class="container" style="margin-top: 4rem;">
    <div class="card">
        <div class="card-header">
            <div class="wrapper">
                <h5>LISTA DE INGRESOS</h5>
            </div>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col">
                    <app-vermas-producto *ngIf="productoSeleccionado" [producto]="productoSeleccionado"
                        [isVisibleModal]="visibleModal" (cerrarModal)="visibleModal = $event">
                    </app-vermas-producto>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th colspan="4">Busqueda por categoria del producto</th>
                                    <th>
                                        <input name="categoria" [(ngModel)]="categoria" type="text" class="form-control"
                                            placeholder="Nombre o código">
                                    </th>
                                    <th>
                                        <button (click)="buscarCategoria()" class="btn btn-outline-success"
                                            type="button">Buscar</button>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4">Busqueda por producto</th>
                                    <th>
                                        <input name="texto" [(ngModel)]="texto" type="text" class="form-control"
                                            placeholder="Nombre o código">
                                    </th>
                                    <th>
                                        <button (click)="buscar()" class="btn btn-outline-success"
                                            type="button">Buscar</button>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="5"></th>
                                    <th>
                                        <button (click)="limpiar()" type="button"
                                            class="btn btn-outline-danger">Limpiar</button>
                                    </th>
                                </tr>
                                <tr bgcolor="skyblue" class="text-center">
                                    <th scope="col">Producto</th>
                                    <th scope="col">Precios</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Fechas</th>                                    
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let di of bdetalleIngresos">
                                <tr>
                                    <td>
                                        {{di.producto.nombre}}
                                        <a (click)="vermas(di)" style="color: blue; cursor: pointer;">Ver mas</a>
                                    </td>
                                    <td>
                                        <span style="color: blue;">Precio compra: </span>
                                        {{di.precioCompra}}
                                        <br>
                                        <span style="color: blue;">Precio Venta Anterior: </span>
                                        {{di.precioVentaAnterior}}
                                        <br>
                                        <span style="color: blue;">Precio Venta: </span>
                                        {{di.precioVenta}}
                                    </td>
                                    <td>
                                        <span style="color: blue;">Porcentaje descuento: </span>
                                        {{di.porcentajeDescuento}}%
                                        <br>
                                        <span style="color: blue;">Stock Inicial: </span>
                                        {{di.stockInicial}}
                                        <br>
                                        <span style="color: blue;">Stock Actual: </span>
                                        {{di.stockActual}}
                                    </td>
                                    <td>
                                        <span style="color: blue;">Sucursal: </span>
                                        {{di.sucursal}}
                                        <br>
                                        <span style="color: blue;">Estado: </span>
                                        {{di.estado}}
                                    </td>
                                    <td>
                                        <span style="color: blue;">Fecha producción: </span>
                                        {{di.fechaProduccion}}
                                        <br>
                                        <span style="color: blue;">Fecha vencimiento: </span>
                                        {{di.fechaVencimiento}}
                                    </td>
                                    <td>
                                        <button [routerLink]="['/ingre-edit', di.ingresoId]"
                                            class="btn btn-outline-primary form-control" type="button">Editar</button>
                                    </td>
                                </tr>
                                <tr *ngIf="di.variedades.length > 0">
                                    <td colspan="6">
                                        <span class="text-muted me-2">Tallas:</span>
                                        <span *ngFor="let variedad of di.variedades" class="me-2">
                                            {{variedad.nombreTalla}}:{{variedad.cantidadTalla}} -> {{variedad.colores | pvariedad}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger" role="alert" *ngIf="errMessageSearch">
                            <span>{{errMessageSearch}}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div style="width: 100%; overflow: auto;">
                        <table class="table table-striped" style="width: 100%;">
                            <thead>
                                <tr bgcolor="skyblue" class="text-center">
                                    <th scope="col">Producto</th>
                                    <th scope="col">Precios</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Fechas</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let di of detalleIngresos">
                                <tr>
                                    <td>
                                        {{di.producto.nombre}}
                                        <a (click)="vermas(di)" style="color: blue; cursor: pointer;">Ver mas</a>
                                    </td>
                                    <td>
                                        <span style="color: blue;">Precio compra: </span>
                                        {{di.precioCompra}}
                                        <br>
                                        <span style="color: blue;">Precio Venta Anterior: </span>
                                        {{di.precioVentaAnterior}}
                                        <br>
                                        <span style="color: blue;">Precio Venta: </span>
                                        {{di.precioVenta}}                                        
                                    </td>
                                    <td>
                                        <span style="color: blue;">Porcentaje descuento: </span>
                                        {{di.porcentajeDescuento}}%
                                        <br>
                                        <span style="color: blue;">Stock Inicial: </span>
                                        {{di.stockInicial}}
                                        <br>
                                        <span style="color: blue;">Stock Actual: </span>
                                        {{di.stockActual}}
                                    </td>
                                    <td>
                                        <span style="color: blue;">Sucursal: </span>
                                        {{di.sucursal}}
                                        <br>
                                        <span style="color: blue;">Estado: </span>
                                        {{di.estado}}                                        
                                        
                                    </td>
                                    <td>
                                        <span style="color: blue;">Fecha producción: </span>
                                        {{di.fechaProduccion}}
                                        <br>
                                        <span style="color: blue;">Fecha vencimiento: </span>
                                        {{di.fechaVencimiento}}
                                    </td>
                                    <td>
                                        <button [routerLink]="['/ingre-edit',di.ingresoId]"
                                            class="btn btn-outline-primary form-control" type="button">Editar</button>
                                    </td>
                                </tr>
                                <tr *ngIf="di.variedades.length > 0">
                                    <td colspan="6">
                                        <span class="text-muted me-2">Tallas:</span>
                                        <span *ngFor="let variedad of di.variedades" class="me-2">
                                            {{variedad.nombreTalla}}:{{variedad.cantidadTalla}} -> {{variedad.colores | pvariedad}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-danger" role="alert" *ngIf="errMessageList">
                            <span>{{errMessageList}}</span>
                        </div>                        
                        <div class="wrapper" *ngIf="detalleIngresos.length > 0">
                            <app-paginador-lista [paginador]="paginator" [tipo]="tipo"></app-paginador-lista>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>